.avatar-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avatar-item {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    object-fit: contain; 
}

/* Layer Z-index assignments */
.skin-layer { 
    z-index: 1;
    width: 70vh;
    height: 70vh;
}

.eyes-layer { 
    z-index: 2;
    width: 70vh;
    height: 70vh;
}

.hair-layer { 
    z-index: 3;
    width: 70vh;
    height: 70vh;
}

.idle-layer { 
    z-index: 4;
    width: 70vh;
    height: 70vh;
}

.clothes-layer { 
    z-index: 5;
    width: 70vh;
    height: 70vh;
}

.accessories-layer { 
    z-index: 6;
    width: 70vh;
    height: 70vh;
}

/* Media queries*/
@media (max-width: 768px) { 
    .avatar-item {
        width: 70vh;
        height: 70vh;
    }
}

@media (max-width: 480px) {
    .avatar-item {
        width: 50vh;
        height: 50vh;
    }
}
