.dress-up-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
}

.button-section-left,
.button-section-right {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-section-left{
    margin-left: 10%;
}
.button-section-right{
    margin-right: 10%;
}
button {
    border: solid;
    border-radius: 20px;
    padding: 10px;
    color: #3d3b52;
    background-color: #ffc5df;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover{
    transform: scale(1.1);
}

.avatar-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.avatar-container {
    position: relative;
    width: 70vh; /* Matches avatar size */
    height: 70vh; /* Matches avatar size */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ant-btn-variant-solid {
    background: #ffc5df;
    border: solid;
    border-radius: 20px;
    color: #3d3b52;
}

.ant-btn-variant-outlined {
    border: solid;
    border-radius: 20px;
    color: #3d3b52;
}

.anticon svg {
    color: #3d3b52;
}