.dress-up-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    position: relative;
}

.button-section-left,
.button-section-right {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-section-left{
    margin-left: 10%;
}
.button-section-right{
    margin-right: 10%;
}

button {
    border: solid;
    border-radius: 20px;
    padding: 10px;
    color: #b96f8a;
    background-color: #ffc5df;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover{
    transform: scale(1.1);
}

button.selected {
    background-color: #b96f8a;
    color: white;
}

.finishBtn {
    margin-top: 40%;
}

.avatar-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.avatar-container {
    position: relative;
    width: 70vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/**Antd override **/
.ant-btn-variant-solid {
    background: #ffc5df;
    border: solid;
    border-radius: 20px;
    color: #b96f8a;
}

.ant-btn-variant-outlined {
    border: solid;
    border-radius: 20px;
    color: #b96f8a;
}

.anticon svg {
    color: #b96f8a;
}

.folderImage {
    transition: transform 0.3s ease-in-out;
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
  
  .folderImage:hover {
    transform: scale(1.2);
  }